.logo {
  height: 40vmin;
  pointer-events: none;
}

.logo {
  /* 無限に回る・線形的に・keyframeのfrom-toまで20秒かけて回転する */
  animation: logo-spin infinite 20s linear;
}



@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

